<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.actapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ActApp.NoActionBar">
        <activity
            android:name=".reporting_person.Reports"
            android:exported="true" />
        <activity
            android:name=".guest_visit.GuestAboutVisit"
            android:exported="true"
            android:label="@string/title_activity_guest_about_visit" />
        <activity
            android:name=".guest_personal_info.GuestPersonalInformation"
            android:exported="true" />
        <activity
            android:name=".employee_success_declaration.EmployeeSuccessDeclaration"
            android:exported="true" />
        <activity
            android:name=".employeed_health_declaration.EmployeeHealthDeclaration"
            android:exported="true" />
        <activity
            android:name=".employee_home.EmployeeHomeActivity"
            android:exported="true" />
        <activity
            android:name=".employee_login.EmployeeLoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>